# Give your application a unique name (no spaces)
APP_NAME=${APP_NAME}
APP_URL=http://localhost:4000

# false for production, true for development
DEBUG=true

# the port should we listen on
PORT=4000

# The server name, e.g, www.example.com
SERVER_NAME=localhost

# should we use https?
SECURE=false

# Database config - postgres or mysql or sqlite3
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=
DATABASE_SSL_MODE=
# ro, rw, rwc, memory
DATABASE_SQLITE_MODE=rwc

# redis config
REDIS_HOST="127.0.0.1:6379"
REDIS_PASSWORD=
REDIS_PREFIX=${APP_NAME}

# cache (redis or badger)
CACHE=

# cookie seetings
COOKIE_NAME=${APP_NAME}
COOKIE_LIFETIME=1440
COOKIE_PERSIST=true
COOKIE_SECURE=false
COOKIE_DOMAIN=localhost

# session store: cookie, redis, mysql, postgres or sqlite
SESSION_TYPE=cookie

# mail settings
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_ENCRYPTION=
SMTP_FROM_ADDRESS=
SMTP_FROM_NAME=
SMTP_DOMAIN=

# mail settings for api services
MAILER_API=
MAILER_API=
MAILER_URL=

# Template engine: go or jet
RENDERER=jet

# Encription Key; Must be exactly 32 characters long
APP_KEY=${APP_KEY}